.grid-stack {
  border: solid 1px #eee;
  /* background-color: #fcfcfc; */
  min-height: calc(100vh - 104px);
  margin-top: 20px;
}

.grid-stack-item {
  background-color: #fff;
  border: solid 1px #eee;
}
.newWidget {
  border: 1px solid #ccc;
}

.grid-stack-item:active {
  cursor: grab;
}
#slide-out {
  padding: 20px 0;
}
#chartdiv {
  width: 100%;
  height: 100%;
}

.sidebarItem {
  transition: all 0.3s ease !important;
  display: block;
}

#trash {
  background-color: #f54336;
  color: #fff;
  font-weight: bold;
  padding: 40px 5px;
  text-align: center;
  position: fixed;
  width: 100%;
  bottom: 60px;
}

.card-body {
  padding: 12px;
  text-transform: capitalize;
  font-size: 16px;
  box-shadow: 0 0 20px -3px rgba(245, 67, 54, 0.28),
    0 4px 20px 0 rgba(0, 0, 0, 0.12), 0 7px 8px -5px rgba(245, 67, 54, 0.2);
}
.card-body:hover {
  cursor: pointer;
}
.activeChart {
  background: #f54336 !important;
  color: #fff;
}
